
body {
    padding-top: 54px;
  }
  
  header .welcome {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .h1 {
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .btn-primary {
    background-color: darkblue;
    margin-top: 40px;
    border: 10px;
  }
  .btn-primary:hover {
    background-color: blue;
  }
  @media (min-width: 600px) {
    body {
      padding-top: 56px;
    }
    .icon {
      display: none;
    }
  }
  @media (max-width: 600px) {
    .btn-primary {
      display:none;
    }
  }
  .img-fluid {
    box-shadow: 2px 2px 4px black;
  }
  .card {
    height: 100%;
  }
 .jumbotron {
   background-image: linear-gradient(darkblue,lightblue);
   color: white;
   padding-bottom: 100px;
   padding: 50px;
   
 }
 .jumbotron .p {
   font-size: 24px;
 }

  /*!
   * Copyright 2018 Trilogy Education
   */