*{
  margin: 0px;
  padding: 0px;
}

/* Hero Image */

.hero-image {
  color: black;
  opacity: 50%;
  background-size: cover;
  opacity: 10%;
}
.hero-image .text {
  display: none;
}




@media (max-width: 600px) {S
  .hero-image .btn-primary {
     text-align: center;
   }
  .hero-image {
    background-size: auto;
  }
   .hero-image .text {
     display: initial;
   }
   .hero-image .container {
    display: none;
  }
  .hero-image .col-mg-4 {
    display: none;
  }
 }

.p {
  font-size: 12px;
}
 .hero-image .container {
  font-size: 30px;

}

.hero-text {
  padding-bottom: 100px;
  padding: 50px;
  opacity: 80%;
  width: 100%;
}


/* List on hero image */

.hero-image .col-mg-5 {
  margin: 20px;
}


#exampleModal {
  text-align: center;
  color: black;
}
  .btn-primary {
    background-color: darkblue;
    margin-top: 20px;
    border: 10px;
    transition: 1s;
  }
  .btn-primary:hover {
    background-color:#5e9ae3;
    transform: scale(1.1,1.1);
    color: black;
    border: none;
  }
  
  @media (min-width: 600px) {
    
    .icon {
      display: none;
    }
  }
  @media (max-width: 600px)
  {
    .col-md-7 {
      text-align: center;

    }
    .btn-primary {
      margin-bottom: 40px;
    }
    .p-5 .img-fluid:hover {
      transform: none;
    }
  }
  .img-fluid {
    box-shadow: 2px 2px 4px black;
    transition: 1s;
    z-index: 1000000000;
    overflow: hidden;
  }
  .work {
    text-align: center;

  }
/* doesn't exist at the moment */
  /* .img-fluid:hover {
    transform: scale(1.1,1.1);
    z-index: 1000000000000;
  }
  .p-5 .img-fluid:hover {
    transform: scale(2,2);
    z-index: 10000000000000000000000000 !important;
  } */
  
  /* about section */
  
  
/* #about .container {
  background-color: none;
} */
.bg-secondary {
  background-color: white !important;
  color: black;
}
.btn-lg {
  background-color: orangered;
  border: none;
  color: white !important;
  box-shadow: 5px 5px 10px grey;
  margin: 10px;

}
.btn-lg:hover{
  background-color:#5e9ae3;
  transform: scale(1.1,1.1);
  color: black;
  border: none;
}

.about .col-mg-3 {
  margin: 10px;
  align-content: center;
  font-size: 14px;
}

/* service tabs */

.row .card {
  transition: 2s;
  height: 300px;
  border: none;
}
.row .card:hover {
  -webkit-transform: rotateY(180deg);
     transform: rotateY(180deg);
} 

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Carousel */

.carousel-item.active,
.carousel-item.active + .carousel-item,
.carousel-item.active + .carousel-item  + .carousel-item {
   width: 33.3%;
   display: block;
   float:left;
} 

/* navbar */
.navbar {
  border-radius: none !important;
  background-color: darkblue;
}
  /*!
   * Copyright 2018 Trilogy Education
   */