*{
  margin: 0px;
  padding: 0px;
}
/* writing */

.row .text-left {
  font-family: 'Lobster', cursive;
  font-size: 35px;
}

/* Hero Image */

.hero-image {
  color: black;
  opacity: 50%;
  background-size: cover;
  opacity: 10%;
  height: 350px;
  width: 100%;
  background-image: url("CodingCard/UX-UIDesign.png");
  margin: 0px !important;
}
.hero-image .text {
  display: none;
}

.hero-text #h1 {
  font-family: 'Lobster', cursive;
  margin-bottom: 20px;
  font-size:100px;
}
/* .hero-text #text {
  font-family: 'Lobster', cursive;
  align-content: center;
  display: none;
  margin: 60px;
  margin-bottom: 10px;
}
.hero-text #texts {
  font-family: Arial, Helvetica, sans-serif;
  align-content: center;
  display: none;
  margin: 80px;
} */ 




@media (max-width: 600px) {S
  .hero-image .btn-primary {
     text-align: center;
   }
  .hero-image {
    background-size: auto;
  }
   .hero-image #text {
     display: initial;
   }
   .hero-image #texts {
    display: initial;
  }
   .hero-image .container {
    display: none;
  }
  .hero-image .col-mg-4 {
    display: none;
  }
  .hero-image .text-center {
    display: none;
  }
 }

.p {
  font-size: 12px;
}
 .hero-image .container {
  font-size: 30px;

}

/* Hero button-modal */


#exampleModal {
  text-align: center;
  color: black;
}
  .btn-primary {
    background-color: darkblue !important;
    box-shadow: 2px 2px 12px rgb(168, 168, 168);
    border: 10px;
    transition: 1s;

  }
  .btn-primary:hover {
    background-color:#5e9ae3 !important;
    transform: scale(1.1,1.1);
    border: none;
  }
  
  @media (min-width: 600px) {
    
    .icon {
      display: none;
    }
  }
  @media (max-width: 600px)
  {
    .col-md-7 {
      text-align: center;

    }
    .btn-primary {
      margin-bottom: 40px;
    }
    .p-5 .img-fluid:hover {
      transform: none;
    }
  }
  .img-fluid {
    box-shadow: 2px 2px 4px black;
    transition: 1s;
    z-index: 1000000000;
    overflow: hidden;
  }
  .work {
    text-align: center;

  }

 /* service tabs */
.img-fluid {
  box-shadow: 2px 2px 12px rgb(168, 168, 168);
    border: 10px;
    transition: 1s;
}

/* overlay words */

.img-fluid:hover {
  transform: scale(1.1,1.1);
  border: none;
}



  /*!
   * Copyright 2018 Trilogy Education
   */




