div {
  margin: 121px 149px;
  width: 483px;
  height: 298px;
  background: #676470;
  color: #fff;
  font-size: 3.4em;
  text-align: center;
  line-height: 298px;


  animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
  /* add a transition */
  transition: 2s ease-in-out;
}
@keyframes example:hover {

  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:200px; top:0px;}
  50%  {background-color:blue; left:200px; top:200px;}
  75%  {background-color:green; left:0px; top:200px;}
  100% {background-color:red; left:0px; top:0px;}
}
.border:hover {
  /* create an inset box shadow here */
  box-shadow:inset 0 0 0 60px red;
 
  color: white;
  /* -webkit-transform: rotate(360deg); 
  /* -webkit-transform: scale(2, 3);  */
    /* transform: rotate(360deg); */ */
    /* transform: scale(2, 3); */ 
    
}

